.form-wallpaper
    margin-left: 40px
    padding-right: 85px
    width: 100%
    height: calc( 100vh - 80px )
    overflow-y: auto
    .section::-webkit-scrollbar-track
        width: 0px
    .header
        display: flex
        justify-content: space-between
        .title
            margin-top: 40px
            font-family: Play
            font-size: 36px
            font-weight: 700
            line-height: 26px
            letter-spacing: -0.18000000715255737px
            text-align: left
            color: #725A37
    div
        width: 100%
    .list_documents
        margin-top: 40px
