.content
    margin-top:  40px   
    .avatar
    width: 125.60625457763672px
    height: 126px
    top: 1129px
    left: 1337px
    background-color: rgba(88, 112, 86, 1)
    color: #FFFF
    display: flex
    justify-content: center
    align-items: center
    font-size: 5rem
    font-weight: 600
