.header
    font-weight: 700
    font-size: 30px
.information
    width: 100%
.search
    height: 40px
    font-weight: 700
    font-size: 14px
    line-height: 26px
    display: flex
    position: relative
    align-items: center
    width: 420px
    padding-left: 20px
    border: 2px solid #6B5432
    background-color: white
