.home-wrapper
  height: 100%
  margin: 0 auto
  width: 100vw
  padding: 82px 0 0
  overflow-x: hidden
  .title
    font-family: Play
    font-size: 36px
    font-weight: 700
    line-height: 26px
    letter-spacing: -0.18000000715255737px
    text-align: left
    color: #7B5E35
    margin: auto
    margin-top: 20px
    display: flex
    justify-content: center
    &::before
      content: '*'
      color: #ff0000
  .listclass
    margin: 30px 30px
    display: flex
    justify-content: space-between
.box
  width: 19vw
  padding: 5px 10px 5px 10px
  border: 2px
  gap: 10px
  border: 2px solid #587056
  box-shadow: 2px 4px 5px 0px #00000040
  .content
    .header
      display: flex
      justify-content: space-between
      border-bottom: 1px solid #BE9F8D
      .codeclass
        font-family: Play
        font-size: 16px
        font-weight: 700
        line-height: 26px
        letter-spacing: -0.18000000715255737px
        text-align: left
        color: #3F563D
      .calendar
        display: flex
        font-family: Play
        font-size: 16px
        font-weight: 700
        line-height: 26px
        letter-spacing: -0.18000000715255737px
        text-align: right
        color: #1A1A1A
    .item
      display: flex
      margin-top: 10px
      .icon
        margin-top: 4px
      .tittle-2
        margin-left: 5px
        font-family: Inter
        font-size: 14px
        font-weight: 700
        line-height: 26px
        letter-spacing: -0.18000000715255737px
        text-align: left
